* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  color: #202020;
  font-size: 2.4rem;
  line-height: 1.1;
  letter-spacing: 1px;
  font-weight: 500;
  background-color: #fff;
}
/********************
*** helper clases    
*/

.container {
  width: 130rem;
  margin: 0 auto;
}

.visible {
  display: block;
}

.sub-nav-active {
}
/***  End helper clases
************************** */

/***************
**** HEADER SECTION
*/

.header {
  height: 10rem;
  margin-bottom: 1.2rem;
}
.main-menu-box {
  background-color: #fdde6c;
}
.main-menu-top {
  /* position: relative; */
  height: 2rem;
  background-color: #fd8d49;
}

.main-menu-bottom {
  height: 8rem;
}

.sticky .main-menu-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  z-index: 999;
}

.sticky .sub-nav-active .main-menu-box,
.sticky .main-menu-box:hover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2rem;
  z-index: 999;
}

.visible .main-menu-box {
}

.logo-text {
  font-family: "Akaya Kanadaka", cursive;
  font-size: 3rem;
  color: #fff;
  background-color: #f43605;
  padding: 0.8rem 1.6rem;
  border: 1px solid #000;
  text-shadow: 2px 2px 0 #000, 0px 3px 2px #fdde6c;
  align-self: center;
  display: block;
}

.main-nav {
  align-self: center;
}

.main-nav-list {
  display: flex;
  gap: 8rem;
  list-style: none;
}

.main-nav-list div {
  display: inline;
  font-size: 2rem;
  color: #202020;
  text-transform: uppercase;
}
.main-nav-list div:hover,
.main-nav-list div:active {
  cursor: pointer;
  border-bottom: 3px solid #202020;
}

.main-nav-item {
  align-self: center;
}

.main-menu-bottom {
  display: flex;
  gap: 8rem;
}

.sub-menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  transform: translateX(-100%);
  transition: all 0.5s;

  /* display: flex; */
  width: 100%;
  height: 80vh;

  /* Steps:
    1) hide visually */
  opacity: 0;

  /* 2) make it unacessible */
  pointer-events: none;

  /* 3) hide it from screen readers */
  visibility: hidden;
}

.nav-visible.sub-menu {
  transform: translateX(0%);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.sub-main-nav-list {
  padding-top: 2.4rem;

  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.sub-main-nav-list a {
  font-size: 1.8rem;
}
.sub-main-nav-list a:link,
.sub-main-nav-list a:visited {
  color: #202020;
  text-decoration: none;
}

.sub-main-nav-list a:hover,
.sub-main-nav-list a:active {
  border-bottom: 2px solid #202020;
}

/***************************
*** HERO SECTION
*/
.hero-section {
  margin: 8rem 12rem;
}
.hero-box {
  /* height: 65vh; */
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* grid-template-rows: 1fr 1fr; */
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.primary-header {
  font-size: 4.4rem;
  line-height: 1.4;
  letter-spacing: 1.1px;
}
.hero-right-img {
  width: 100%;
}

.hero-buttons-box {
  grid-column: 1 /-1;
  grid-row: 2 / 3;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}

.hero-btn {
  display: inline-block;
  font-size: 2rem;
  padding: 1.2rem 2.4rem;
  border-radius: 25px;
  transition: all 0.3s;
}

.hero-btn.btn-info {
  background-color: #feebe6;
}
.hero-btn.btn-info:hover {
  background-color: #fdf1ee;
  box-shadow: 0 1rem 3.2rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.hero-btn.btn-shop {
  background-color: #922003;
  color: #fff;
}
.hero-btn.btn-shop:hover {
  background-color: #f43605;
  box-shadow: 0 1rem 3.2rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.hero-btn.btn-shop:active {
  transform: translateY(-1px);
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.2);
  background-color: #f65e37;
}
.hero-btn.btn-info:active {
  transform: translateY(-1px);
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.135);
  background-color: #fff;
}

/***********************************
*** Shop-nav-bar section
*********************************/
.shop-nav-bar-list {
  display: flex;
  gap: 4.8rem;
  justify-content: center;
}
.shop-nav-bar-item {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  cursor: pointer;
}

.shop-nav-bar-item a:link,
.shop-nav-bar-item a:visited {
  text-decoration: none;
  color: #202020;
  font-size: 1.6rem;
}

.shop-nav-bar-item:hover {
  border-bottom: 2px solid #202020;
}

.icon-round-div {
  border-radius: 50%;
  padding: 1.2rem;
}
.icon-round-div-external {
  border-radius: 50%;
  background: linear-gradient(to right top, #f5ab0c, #ffcc5d, #fff 99%);
  padding: 2px;
}

.icon {
  height: 3rem;
  width: 3rem;
}

.icon1 {
  background-color: #ff987e91;
}
.icon2 {
  background-color: #ffd57981;
}
.icon3 {
  background-color: #98fa9d6c;
}
.icon4 {
  background-color: #99b0fc7a;
}
.icon5 {
  background-color: #fcbdfc77;
}
