* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  color: #202020;
  font-size: 2.4rem;
  font-weight: 500;
  background-color: #fff;
}
/********************
*** helper clases    
*/

.container {
  width: 130rem;
  margin: 0 auto;
}

.visible {
  display: block;
}

.sub-nav-active {
}
/***  End helper clases
************************** */

/***************
**** HEADER SECTION
*/

.header {
  height: 10rem;
  margin-bottom: 1.2rem;
}
.main-menu-box {
  background-color: #fdde6c;
}
.main-menu-top {
  /* position: relative; */
  height: 2rem;
  background-color: #fd8d49;
}

.main-menu-bottom {
  height: 8rem;
}

.sticky .main-menu-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  z-index: 999;
}

.sticky .sub-nav-active .main-menu-box,
.sticky .main-menu-box:hover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2rem;
  z-index: 999;
}

.visible .main-menu-box {
}

.logo-text {
  font-family: "Akaya Kanadaka", cursive;
  font-size: 3rem;
  color: #fff;
  background-color: #f43605;
  padding: 0.8rem 1.6rem;
  border: 1px solid #000;
  text-shadow: 2px 2px 0 #000, 0px 3px 2px #fdde6c;
  align-self: center;
  display: block;
}

.main-nav {
  align-self: center;
}

.main-nav-list {
  display: flex;
  gap: 8rem;
  list-style: none;
}

.main-nav-list div {
  display: inline;
  font-size: 2rem;
  color: #202020;
  text-transform: uppercase;
}
.main-nav-list div:hover,
.main-nav-list div:active {
  cursor: pointer;
  border-bottom: 3px solid #202020;
}

.main-nav-item {
  align-self: center;
}

.main-menu-bottom {
  display: flex;
  gap: 8rem;
}

.sub-menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  transform: translateX(-100%);
  transition: all 0.5s;

  /* display: flex; */
  width: 100%;
  height: 100vh;

  /* Steps:
    1) hide visually */
  opacity: 0;

  /* 2) make it unacessible */
  pointer-events: none;

  /* 3) hide it from screen readers */
  visibility: hidden;
}

.nav-visible.sub-menu {
  transform: translateX(0%);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.sub-main-nav-list {
  padding-top: 2.4rem;

  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.sub-main-nav-list a {
  font-size: 1.8rem;
}
.sub-main-nav-list a:link,
.sub-main-nav-list a:visited {
  color: #202020;
  text-decoration: none;
}

/***************************
*** HERO SECTION
*/
.hero-section {
  margin-bottom: 8rem;
}
.hero-box {
  background-image: linear-gradient(to right, #fd8d49, #fdde6c);
  background-size: cover;
  background-position: center;
  height: 65vh;
}
.hero-left {
  position: relative;
}
.primary-header {
  position: absolute;
  top: 10rem;
  left: 10rem;
  transform: rotate(-45deg);
}
.hero-right {
}
